* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #1c1d25
}
/* header and nav section */

header {
    padding: 20px 50px;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 3px solid red;
    border-radius: 10px;
}

header h1 {
    font-size: 36px;
    margin: 0;
    
}

header h1 a {
    text-decoration: none;
    color: #1c1d25;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul a {
    padding: 10px 35px;
    color: #1c1d25;
    font-size: 20px;
    text-decoration: none;
}

/* jumbotron with pic and subtitle */
.hero {
    background-image: url("../images/crypto-background.jpeg");
    background-size: cover;
    background-position: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 130px 70px 70px 115px;
    
}

.image {
    
    justify-content: flex-start;
}

.hero-subtitle {
    background-color: aliceblue;
    width: 24%;
    font-size: 16px;
    margin-left: 25px;
    align-self: flex-end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 12px;
    padding: 5px 10px;
    border: 1.5px solid red;
 
}
/* about me section */

.about-me {
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 130px 70px 90px 70px;
    border-top: 3px solid red;
}

.about-title {
    width: 20%;
    border-right: 2px solid #1c1d25;
    font-size: 40px;
    padding: 90px 10px;
    margin: 0px 80px 25px;
    
}

.about-info {
    width: 60%;
    font-size: 18px;
    line-height: 1.7;
}

/* work section */

.work-section {
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 130px 70px 90px 70px;
    border-top: 3px solid red;
    
}

.work-title {
    width: 20%;
    border-right: 2px solid #1c1d25;
    font-size: 40px;
    padding: 90px 10px;
    margin: 0px 80px 25px;
}

main {
    width: 65%;
    margin: 50px auto;
    padding: 20px;
    background-color: aliceblue;
    
  }
  
  
  main h2 {
    color: #fb3e55;
    padding: 0 10px 20px;
    border-bottom: 3px solid #393b4f;
  }
  
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .big-flex-item {
    width: 80%;
    border-radius: 14px;
    border: 4px solid #fb3e55;
    background-color: #393b4f;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 75px;
    background-image: url("../images/runbuddy.jpeg");
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    min-height: 250px;
    display: flex;
    flex-direction: row;
  }
  
  
  .flex-item {
    
    width: 45%;
    border-radius: 14px;
    border: 4px solid #fb3e55;
    background-color: #393b4f;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    background-image: url('https://via.placeholder.com/1000/393b4f/fb3e55?text=Placeholder');
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    min-height: 250px;
    display: flex;
    flex-direction: column;
  }

  #flex-item2 {
    background-image: url("../images/softwareengineer.jpeg");
    
  }
  #flex-item3 {
    background-image: url("../images/software-skills.png");
    
  }
  #flex-item4 {
    background-image: url("../images/computer_code.jpg");
    
  }
  #flex-item5 {
    background-image: url("../images/mancomputer.jpeg");
    
  }
  
  
  .flex-item span {
    margin-top: auto;
    width: 100%;
    background-color: #a8adba;
    color: #393b4f;
    padding: 10px 5px;
    text-align: center;
  }

  .big-flex-item span, .flex-item span {
    margin-top: auto;
    width: 30%;
    background-color: #67f83b;
    color: #f120d6;
    padding: 10px 5px;
    text-align: center;

  }

  /* Contact Section */

  .contact-section {
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 130px 70px 90px 30px;
    border-top: 3px solid red;
  }

  .contact-title {
    width: 23%;
    border-right: 2px solid #1c1d25;
    font-size: 40px;
    padding: 90px 10px;
    margin: 0px 80px 25px;
  }

  .contact-info {
    width: 60%;
    font-size: 18px;
    line-height: 1.7;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 55px;
  }

  .contact-info span {
      font-size: 22px;
      font-weight: bold;
  }

  .contact-info nav {
    margin: 7px 0;
  }

  .contact-info nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  .contact-info nav ul a {
    padding: 10px 35px;
    color: #1c1d25;
    font-size: 20px;
  }