* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #1c1d25
}
/* header and nav section */

header {
    padding: 20px 50px;
    background-color: #dbe2e9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 3px solid #df0c0c;
    border-radius: 10px;
}

header h1 {
    font-size: 36px;
    margin: 0;
    
}

header h1 a {
    text-decoration: none;
    color: #1c1d25;
}

.logo {
    display: inline;
    margin-left: -10px;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul a {
    padding: 10px 35px;
    color: #1c1d25;
    font-size: 20px;
    text-decoration: none;
}

/* jumbotron with pic and subtitle */
.hero {
    background-image: url("../images/crypto-background.jpeg");
    background-size: cover;
    background-position: 80%;
    display: flex;
    flex-wrap: wrap;
    min-height: 380px;
    
}

.image {
    
    align-self: flex-end;
    padding-bottom: 20px;
    padding-left: 50px;
}

.hero-subtitle {
    background-color: #edf1f5;
    width: 24%;
    font-size: 12px;
    margin-left: 25px;
    margin-bottom: 25px;
    align-self: flex-end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 12px;
    padding: 5px 10px;
    border: 1.5px solid #df0c0c;
 
}
/* about me section */

.about-me {
    background-color: #dbe2e9;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 90px 70px 90px 40px;
    border-top: 3px solid #df0c0c;
}

.about-title {
    width: 20%;
    border-right: 2px solid #b69d32;
    font-size: 30px;
    padding: 90px 10px;
    margin: 0px 6px;
    
}

.about-info {
    width: 65%;
    font-size: 18px;
    line-height: 1.7;
    margin: 50px auto;
    padding: 20px;

}

/* work section */

.work-section {
    background-color: #dbe2e9;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 90px 70px 90px 40px;
    border-top: 3px solid #df0c0c;
    
}

.work-title {
    width: 20%;
    border-right: 2px solid #b69d32;
    font-size: 30px;
    padding: 90px 10px;
    margin: 0px 6px;
    
}

.work-title h2 {
    margin: 1px 3px;
}

main {
    width: 65%;
    margin: 50px auto;
    padding: 20px;
    background-color: #dbe2e9;
    
  }
  
  
  main h2 {
    color: #fb3e55;
    padding: 0 10px 20px;
    border-bottom: 3px solid #393b4f;
  }
  
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0 0 50px;
  }

  .big-flex-item {
    width: 100%;
    border-radius: 14px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    background-image: url("../images/runbuddy.jpeg");
    background-size: cover;
    background-position: top;
    padding: 20px 0;
    min-height: 275px;
    display: flex;
    
  }
  
  
  .flex-item {
    width: 45%;
    border-radius: 14px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    min-height: 250px;
    display: flex;
    
  }

  #flex-item2 {
    background-image: url("../images/kanye-guess.png");
    
  }
  #flex-item3 {
    background-image: url("../images/readme.png");
    background-position: top;
    
  }
  #flex-item4 {
    background-image: url("../images/computer_code.jpg");
    
  }
  #flex-item5 {
    background-image: url("../images/mancomputer.jpeg");
    
  }
  
  

  .big-flex-item span, .flex-item span {
    margin-top: auto;
    width: 30%;
    background-color: #67f83b;
    color: #f120d6;
    padding: 10px 5px;
    text-align: center;

  }

  /* Contact Section */

  .contact-section {
    background-color: #dbe2e9;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 90px 70px 90px 40px;
    border-top: 3px solid #df0c0c;
  }

  .contact-title {
    width: 20%;
    border-right: 2px solid #b69d32;
    font-size: 25px;
    padding: 90px 10px;
    margin: 0px 6px;
    
  }

  .contact-title h2 {
      width: 8%;
  }

  .contact-info {
    width: 77%;
    font-size: 18px;
    line-height: 1.7;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 55px;
  }

  .contact-info span {
      font-size: 22px;
      font-weight: bold;
  }

  .contact-info nav {
    margin: 7px 0;
  }

  .contact-info nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  .contact-info nav ul a {
    padding: 10px 35px;
    color: #1c1d25;
    text-decoration-color: #b69d32;
    font-size: 20px;
  }

  @media screen and (max-width: 981px) {
  header {
    justify-content: center;
    padding: 20px 130px
  }
    


.about-title {
    width: 50%;
    border-bottom: 2px solid #b69d32;
    border-right: none;
    padding: 30px 10px;
}
.about-me {
    justify-content: center;
    padding: 45px 70px 90px 40px;
}

.about-title h2 {
    text-align: center;
}

.about-info {
    margin: 15px auto;
}

.work-section {
    padding: 45px 70px 90px 40px;
    justify-content: center;
}

.work-title {
    width: 50%;
    border-bottom: 2px solid #b69d32;
    border-right: none;
    padding: 30px 10px;

}

.work-title h2 {
    text-align: center;
}

.contact-section {
    padding: 45px 70px 90px 40px;
    justify-content: center;
}

.contact-title {
    width: 50%;
    border-bottom: 2px solid #b69d32;
    border-right: none;
    padding: 30px 10px;
    

}

.contact-title h2{
    text-align: center;
    width: 100%;
}

.contact-info nav ul {
    flex-direction: column;
}
.flex-container {
    margin: 0;
}

@media screen and (max-width: 741px) {
    header nav ul a {
        padding: 10px 13px;
    }
    .flex-container {
        margin: 0;
    }

@media screen and (max-width: 615px) {
    header nav ul {
        flex-direction: column;
    }
    .flex-container {
        margin: 0;
    }
}

@media screen and (max-width: 580px) {
    header h1 {
        width: 53%;
        text-align: center;
        font-size: 25px;
    }

    .about-info {
        margin: 15px;
        padding: 0;
        width: 100%;
    }

    .about-me {
        padding: 45px 40px 90px 40px;
    }

    main {
        width: 100%;
    }

    .flex-container {
        margin: 0;
    }
